/* BabylonScene.css */
.babylonCanvas {
    width: 90%;
    outline: none; /* Remove outline for better appearance */
    touch-action: none; /* Disable default touch actions to handle custom interactions */
    margin: 2% 5%;
  }
  
  /* Additional styles for UI elements can go here */
  